/* Import de la font Syne depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
body * {
    font-family: 'Syne', sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
}

/* Couleur lien Admin */
a {
  color: black;
}

a:hover {
  color: black;
}

/* /////////////////////////////////////////
/            Formulaire global             /
///////////////////////////////////////// */ 
/* Taille du libellé des champs */
.wpcf7-form p {
  font-size: 20px;
  font-weight: 400;
}

/*  Dimensions de l'emplacement nom */
.wpcf7-text {
  border: 0px solid !important;
  width: 383px !important;
  height: 71px !important;
  border-radius: 7px !important;
  resize: none !important;
}

/*  Dimensions de l'emplacement e-mail */
.wpcf7-email {    
  border: 0px solid !important;
  width: 383px !important;
  height: 71px !important;
  border-radius: 7px !important;
  resize: none !important;
}

/*  Dimensions de l'emplacement message */
.wpcf7-textarea {   
  border: 0px solid !important;
  width: 383px !important;
  height: 237px !important;
  border-radius: 7px !important;
  resize: none !important;
}

/* Couleur des emplacements de saisie */
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea {
  background:#ffffff;
  color: black;  
}

/* Couleur du bouton du formulaire */
.wpcf7-form input[type="submit"] {
  display: block;
  margin: auto;
  background-color: #E0B9B4;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  width: 198px;
  height: 55px;   
}

.wpcf7-form input[type="submit"]:hover {
  background-color: #C02E44;
}

/* /////////////////////////////////////////
/       Infos commandes et Livraison       /
///////////////////////////////////////// */

/* Positionnement des éléments de la commande*/
.fruits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding-left: 380px;
}

/* Positionnement des boutons des quantités*/
.fruits .fraise, .pamplemousse, .framboise, .citron {
  padding: 0 0 0 160px;
}

/* Mise en forme des boutons des quantités */
.fruits input[type="number"] {
  align-items: center;
  text-align: center;
  width: 39px;
  height: 58px;
  background-color: white !important;
  color: black;
}

/* Disposition du bloc des Infos et livraison */
.informations-livraison {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}

/* Disposition du bloc Infos */
.informations {
  display: flex !important;
  flex-direction: column !important;
  align-items: left !important;
  width: 35% !important;
  color: white !important;
  padding-left: 20px;
  border-right: 1px solid !important;
}

/* Disposition du bloc Livraison */
.livraison {
  display: flex !important;
  flex-direction: column !important;
  align-items: left !important;
  width: 35% !important;
  color: white !important;
  padding: 25px 0 25px 40px;
}

/* Habillage du titre H3 */
.informations-livraison H3 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 80%;
  font-size: 30px !important;
  font-weight: 700;
  color: white !important;
}

/* Habillage des paragraphes */
.informations-livraison p {
  font-size: 20px !important;
  font-weight: 400 !important;
  color: white !important;
}