/* Import de la font Syne depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
body * {
    font-family: 'Syne', sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
}

/* Couleur lien Admin */
a {
  color: black;
}

a:hover {
  color: black;
}

/* /////////////////////////////////////////
/            Formulaire global             /
///////////////////////////////////////// */ 
/* Taille du libellé des champs */
.wpcf7-form p {
  font-size: 20px;
  font-weight: 400;
}

/*  Dimensions de l'emplacement nom */
.wpcf7-text {
  border: 0px solid !important;
  width: 383px !important;
  height: 71px !important;
  border-radius: 7px !important;
  resize: none !important;
}

/*  Dimensions de l'emplacement e-mail */
.wpcf7-email {    
  border: 0px solid !important;
  width: 383px !important;
  height: 71px !important;
  border-radius: 7px !important;
  resize: none !important;
}

/*  Dimensions de l'emplacement message */
.wpcf7-textarea {   
  border: 0px solid !important;
  width: 383px !important;
  height: 237px !important;
  border-radius: 7px !important;
  resize: none !important;
}

/* Couleur des emplacements de saisie */
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea {
  background:#ffffff;
  color: black;  
}

/* Couleur du bouton du formulaire */
.wpcf7-form input[type="submit"] {
  display: block;
  margin: auto;
  background-color: #E0B9B4;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  width: 198px;
  height: 55px;   
}

.wpcf7-form input[type="submit"]:hover {
  background-color: #C02E44;
}

/* /////////////////////////////////////////
/       Infos commandes et Livraison       /
///////////////////////////////////////// */

/* Positionnement des éléments de la commande*/
.fruits {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 110px 0 110px;
}

/* Mise en forme des boutons des quantités */
.fruits input[type="number"] {
  align-items: center;
  text-align: center;
  width: 39px;
  height: 58px;
  background-color: white;
  color: black;
}

/* Disposition du bloc des Infos et livraison */
.informations-livraison {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

/* Disposition du bloc Infos */
.informations {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 35%;
  color: white;
  padding-left: 20px;
  border-right: 1px solid;
}

/* Disposition du bloc Livraison */
.livraison {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 35%;
  color: white;
  padding: 25px 0 25px 40px;
}

/* Habillage du titre H3 */
.informations-livraison H3 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 80%;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

/* Habillage des paragraphes */
.informations-livraison p {
  font-size: 20px;
  font-weight: 400;
  color: white;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /* Disposition du bloc des Infos et livraison */
  .informations-livraison {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Disposition du bloc Infos */
  .informations {
    color: white;
    padding-left: 20px;
    border-right: 1px solid;
  }

/* Positionnement des éléments de la commande*/
.fruits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 25px 0;
}

/* Disposition du bloc des Infos et livraison */
.informations-livraison {
  flex-direction: column;
  justify-content: center;
}
  
  /* Disposition du bloc Infos */
  .informations {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    color: white;
    padding-left: 0;
    border-right: 0px solid;
  }
  
  /* Disposition du bloc Livraison */
  .livraison {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    color: white;
    padding: 25px 0 25px 0;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* Habillage du titre H3 */
.informations-livraison H3 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 80%;
  font-size: 15px;
  font-weight: 700;
  color: white;
}
    
  /* Taille du libellé des champs */
  .wpcf7-form p {
    font-size: 15px;
    font-weight: 400;
  }

  /*  Dimensions de l'emplacement nom */
  .wpcf7-text {
    border: 0px solid;
    width: 75% !important;
    height: 75% !important;
    border-radius: 7px;
    resize: none;
  }

  /*  Dimensions de l'emplacement e-mail */
  .wpcf7-email {   
    border: 0px solid;
    width: 75% !important;
    height: 75% !important;
    border-radius: 7px;
    resize: none;
  }

  /*  Dimensions de l'emplacement message */
  .wpcf7-textarea {   
  border: 0px solid;
  width: 75% !important;
  height: 75% !important;
  border-radius: 7px;
  resize: none;
  }
}